.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background: $primary-white-color;
  border: 1px solid #ececec;
}

.header-flexbox {
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 93px;
}

.menu-list {
  display: flex;
}

.menu-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-link {
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include font(14px, 1.14, 500);

  letter-spacing: 0.02em;

  color: $title-text-color;
}

.menu-link-current {
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -39px;

    width: 100%;
    height: 4px;
    background-color: $accent-color;

    border-radius: 2px;
  }

  position: relative;

  color: $accent-color;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-tellandmail {
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include font(14px, 1.14, 500);

  letter-spacing: 0.02em;

  color: $primary-text-color;

  font-style: normal;

  display: inline-flex;
  align-items: center;
}

.icon-mail,
.icon-telephone {
  .header-tellandmail:hover &,
  .header-tellandmail:focus & {
    fill: $accent-color;
  }

  fill: $primary-text-color;
  margin-right: 10px;
}
