.logo {
  &:hover,
  &:focus {
    color: $accent-color;
  }

  color: $title-text-color;

  font-family: Raleway, sans-serif;

  @include font(26px, 1.2, 700);
}

.logo-accent {
  color: $accent-color;
}
