.ourclients-section {
  background-color: $primary-white-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourclients-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.ourclients-item:not(:last-child) {
  margin-right: 30px;
}

.ourclients-container {
  width: 170px;
  height: 90px;

  border-radius: 4px;
  border: 1px solid #afb1b8;

  justify-content: center;
  align-items: center;
}

.ourclients-container:hover,
.ourclients-container:focus {
  border: 1px solid $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourclients-container:hover .ourclients-icon,
.ourclients-container:focus .ourclients-icon {
  fill: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourclients-icon {
  fill: $icons-color;
}
