.social-icon-list {
  display: flex;
  justify-content: center;
}

.social-icon-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-icon-link {
  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: $primary-white-color;

  border-radius: 50%;
}

.social-icon {
  .social-icon-link:hover &,
  .social-icon-link:focus & {
    fill: $primary-white-color;
  }

  width: 20px;
  height: 20px;
  fill: $icons-color;
}
