$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$main-background-color: #e5e5e5;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$tellandmail-color: rgba(255, 255, 255, 0.6);
$icons-color: #afb1b8;
